%thead.bg-gray-50
  %tr
    = render partial: "column_header", locals: { heading: t('scores.index.team') }
    = render partial: "column_header", locals: { heading: t('scores.index.p') }
    = render partial: "column_header", locals: { heading: t('scores.index.w') }
    = render partial: "column_header", locals: { heading: t('scores.index.l') }
    = render partial: "column_header", locals: { heading: t('scores.index.d') }
    = render partial: "column_header", locals: { heading: t('scores.index.f') }
    = render partial: "column_header", locals: { heading: t('scores.index.a') }
    = render partial: "column_header", locals: { heading: t('scores.index.difference') }
    = render partial: "column_header", locals: { heading: t('scores.index.pts') }
